version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 4
    pull-request-branch-name:
      separator: "-"
  - package-ecosystem: "gomod"
    directory: "/"
    open-pull-requests-limit: 10
    schedule:
      interval: "daily"
    cooldown:
      default-days: 4
    pull-request-branch-name:
      separator: "-"
# Custom settings
