name: docs
on:
  pull_request:
    branches: ['main']
permissions: {}
env:
  GOTOOLCHAIN: local
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go 1.26
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.26'
        check-latest: true
        cache: true
    - name: Build docs
      run: |
        for pkg in auth common features cloudantv1
        do
          go doc -all -u $pkg
        done
