name: docs
on:
  pull_request:
    branches: ['main']
permissions: {}
env:
  GOTOOLCHAIN: local
jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - name: Install Go 1.25
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: '1.25'
        check-latest: true
        cache: true
    - name: Build docs
      run: |
        for pkg in auth common features cloudantv1
        do
          go doc -all -u $pkg
        done
