name: test
on:
  push:
    branches: ['main']
  pull_request:
    branches-ignore: ['gh-pages']
permissions: {}
env:
  GOTOOLCHAIN: local
  WIREMOCK_URL: http://127.0.0.1:8080
  WIREMOCK_PORT: 8080
jobs:
  test:
    strategy:
      matrix:
        go: ['1.22', '1.23']
    runs-on: ubuntu-latest
    services:
      wiremock:
        image: wiremock/wiremock
        options: --name wiremock
        ports:
        - 8080:8080
    steps:
    - name: Checkout code
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false
    - name: Install Go ${{ matrix.go }}
      uses: actions/setup-go@0a12ed9d6a96ab950c8f026ed9f722fe0da7ef32 # v5.0.2
      with:
        go-version: ${{ matrix.go }}
        check-latest: true
        cache: true
    - name: Setup Wiremock
      shell: bash
      run: ${GITHUB_WORKSPACE}/scripts/setup_wiremock.sh
    - name: Run tests
      run: go test ./... -coverprofile=coverage.txt -covermode=count
    - name: Run lint
      uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8 # v6.1.1
