name: test
on:
  push:
    branches: ['main']
  pull_request:
    branches-ignore: ['gh-pages']
permissions: {}
env:
  GOTOOLCHAIN: local
  WIREMOCK_URL: http://127.0.0.1:8080
  WIREMOCK_PORT: 8080
jobs:
  test:
    strategy:
      matrix:
        go: ['1.24', '1.25']
    runs-on: ubuntu-latest
    services:
      wiremock:
        image: wiremock/wiremock
        options: --name wiremock
        ports:
        - 8080:8080
    steps:
    - name: Checkout code
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Install Go ${{ matrix.go }}
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go }}
        check-latest: true
        cache: true
    - name: Setup Wiremock
      shell: bash
      run: ${GITHUB_WORKSPACE}/scripts/setup_wiremock.sh
    - name: Run tests
      run: go test ./... -coverprofile=coverage.txt -covermode=count
    - name: Run lint
      uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
